
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
      			<% @categories.each do |c| %>
        		<li><a href="/?category_id=<%= c.id %>"><%= c.name %></a></li>
      			<% end %>
      			<li><a href="/users">Users</a></li>
     		</ul>
		</div>
	</div>
</nav>


<div class="container">
	<div class="row">
		<% @bits.each do |b| %>
		<div class="col-md-3 col-sm-6">
		<div class="well well-sm">
			<% if b.category_id == 1 %>
	           	<audio class="audios" controls
					<source src="<%= b.url %>" type="audio/mpeg">
				</audio>
	            <div class="card-img-top"> 
	             	<img src="<%= b.thumbnail ? b.thumbnail : 'http://placehold.it/200x200' %>" alt="">
	            </div>
			<% else %>
				<div class="card-img-top"> 
	             	<img src="<%= b.url ? b.url : 'http://placehold.it/200x200' %>" alt="">
	            </div>
			<% end %>
	        	<div class="card-block">
		        	<h4 class="card-title"><%= b.name %></h4>
		        	<p class="card-text"><%= b.description %></p>
		        	<form class="likes" action="/likes/<%= b.id %>" method="post">
		        	<button type="submit" class="btn btn-link"><i class="glyphicon glyphicon-heart"></i><span class="badge"><%= b.likes.count %></span>
		        		</button>
		        	</form>
		        	<% if logged_in?  %>
		        		<a href="/bits/<%= b.id %>/edit" class="btn btn-sm btn-primary" role="button">Edit</a>
		        		<form action="/bits/<%= b.id %>" method="post">
			        		<input type="hidden" name="_method" value="delete">
			        		<button class="btn btn-sm btn-danger" role="button">Delete</button>
		        		</form>
		        	<% end %>
	      		</div>
	    	</div>
	    </div>
    	<% end %>
	</div>
</div>