
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<ul class="nav navbar-nav">
      			<% @categories.each do |c| %>
        		<li><a href="/?category_id=<%= c.id %>"><%= c.name %></a></li>
      			<% end %>
      			<li><a href="/users">Users</a></li>
     		</ul>
		</div>
	</div>
</nav>


<div class="container">
	<div class="row">
		<% @bits.each do |b| %>
		<div class="col-md-3 col-sm-6">
		<div class="well">
			<% if b.category_id == 1 %>
	           	<audio class="audios" controls
					<source src="<%= b.url %>" type="audio/mpeg">
				</audio>
	             	<img src="<%= b.thumbnail ? b.thumbnail : 'http://placehold.it/200x200' %>" alt="">
			<% else %>
	             	<img src="<%= b.url ? b.url : 'http://placehold.it/200x200' %>" alt="">
			<% end %>
	        	<div class="caption">
		        	<h5><%= b.name %></h5>
		        	<p class="card-text"><%= b.description %></p>
		        	<form class="likes" action="/likes/<%= b.id %>" method="post">
			        	<button type="submit" class="btn btn-link" <%= "disabled=disabled" if liked?(b.id) %>><i class="glyphicon glyphicon-heart"></i><span class="badge"><%= b.likes.count %></span>
			        	</button>
		        	</form>
	      		</div>
	    	</div>
	    </div>
    	<% end %>
	</div>
</div>