<div class="container">
	<div class="well">
		<div class="media">
  			<div class="media-left">
    			<a href="#">
      			<img class="media-object" src="<%= current_user.avatar ? current_user.avatar : 'http://placehold.it/100x100' %>"alt="...">
    			</a>
  			</div>
  			<div class="media-body">
    			<h4 class="media-heading"><%= current_user.name %></h4>
    			<p><%= current_user.email %></p>
				<a href="/uploads/<%= current_user.id %>" class="btn btn-info btn-xs" type="button">Uploads
  				<span class="badge"><%= @bit.count %></span>
				</a>
    			<button class="btn btn-warning btn-xs" type="button">fav bits
  				<span class="badge"><%= @like.count %></span>
				</button>
				<a href="/user/edit" class="btn btn-danger btn-xs">Edit</a>
  			</div>
		</div>
	</div>
</div>