
<div class="container">
	<%  @users.each do |u| %>
	<div class="col-md-4 col-sm-6">
	<div class="well">
		<div class="media">
  			<div class="media-left">
    			<a href="#">
      			<img class="media-object" src="<%= u.avatar ? u.avatar : 'http://placehold.it/100x100' %>"alt="...">
    			</a>
  			</div>
  			<div class="media-body">
    			<h4 class="media-heading"><%= u.name %></h4>
    			<p><%= u.email %></p>

				<a href="/uploads/<%= u.id %>" class="btn btn-info btn-xs" type="button">Uploads
  				<span class="badge"><%= u.bits.count %></span>
				</a>
    			<a href ="/favs/<%= u.id %>" class="btn btn-warning btn-xs" type="button">fav bits
  				<span class="badge"><%= u.likes.count %></span>
				</a>
  			</div>
		</div>
	</div>
	</div>
	<% end %>
</div>
